html, body {
  margin:0;
  padding:0;
}
:root {
  --bg:#1f1f1f;
  --bgColor:#272626;
  --c1:#2c7d53;
  --c2:#363636;
  --color:white;
  --sideMenuWidth:300px;
  --sideMenuBorder:0px;
  --nav:rgba(255,255,255,0.4);
  --halfWidth:50vw;
}
body {
  background:var(--bg);
  color:var(--color);
  width:100vw;
  height:100vh;
  overflow-x:hidden;
  
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#topnav {
  z-index:1;
  position:fixed;
  top:0;
  left:0;
  height:60px;
  width:100vw;
  background:var(--c2);
}
#topnav button {
  position:absolute;
  top:10px;
  left:20px;
  height:40px;
  border:none;
  border-radius:10px;
  padding:0px 10px;
  color:var(--color);
  background:var(--c1);
  box-shadow: 0px 0px 10px 1px #2d533f;
  transition:0.2s;
}
#topnav button:hover {
  opacity:0.6;
  cursor:pointer;
}
#time {
  position:absolute;
  right:20px;
  line-height:60px;
} 
.box {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:var(--bgColor);
  backdrop-filter:blur(20px);
  box-shadow:0px 0px 20px 1px var(--color);
  color:var(--color);
  border-radius:20px;
  padding:20px;
  width:calc(var(--halfWidth) - 40px);
  max-height:calc(60vh - 40px);
  overflow-x:hidden;
  overflow-y:auto;
}
.box h1 {
  text-align:center;
  color:var(--color);
  font-size:40px;
}
.box input {
  background:var(--bgColor);
  color:var(--color);
  border:none;
  width:calc(100% - 30px);
  border-radius:40px;
  height:40px;
  padding:5px 15px;
  outline:none;
  font-size:20px;
  margin:10px 0px;
}
.box exit {
  position:absolute;
  top:20px;
  right:30px;
  padding:0;
  font-size:40px;
  color:var(--color);
  transition:0.2s linear;
}
.box button {
  text-align:center;
  border:none;
  outline:none;
  margin:20px auto;
  display:block;
  box-shadow:0px 0px 20px 1px var(--color);
  background:var(--nav);
  color:var(--color);
  font-size:20px;
  height:40px;
  padding:5px 15px;
  border-radius:40px;
  line-height:30px;
}
.btnHover {
  transition:0.2s linear;
}
.btnHover:hover {
  cursor:pointer;
  opacity:0.5;
}
.row {
  padding:10px 20px;
  display:block;
  background:var(--c2);
  margin:10px;
}
.row div {
  padding:0px 10px;
  display:inline-block;
}

#courses {
  margin-top:70px;
}
#courses div {
  background:var(--bgColor);
  color:var(--color);
  border-radius:10px;
  padding: 10px 20px;
  margin:15px;
  box-shadow:0px 0px 20px 1px var(--color);
  display:inline-block;
}
#courses div div {
  all: unset;
}
.time {
  position:absolute;
  right: 30px;
}
@media only screen and (max-width: 1000px) {
  :root {
  --sideMenuWidth:0px;
  --sideMenuBorder:0px;
  --halfWidth:100vw;
  }
  .box {
    top:0;
    left:0;
    transform:none;
  }
}